{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget metus semper, tempus dolor sed, maximus turpis. Donec at pulvinar justo. Maecenas pellentesque luctus risus in iaculis. Etiam feugiat elit quis tristique semper. In hac habitasse platea dictumst. Maecenas gravida nec lectus id rhoncus. Nulla efficitur felis orci, vitae tincidunt erat tristique id. Praesent sed posuere tellus, non feugiat augue. Nam posuere odio a urna blandit semper. Phasellus dignissim facilisis odio, ut elementum nulla tempor sit amet. Curabitur ac mattis ipsum, sit amet vestibulum risus. In vel erat rhoncus nisi convallis faucibus sit amet sed sapien. Nulla et elit ac erat tempus venenatis. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
{{end}}